
params {
    input = null
    outdir = 'results'
    ref_fasta = null
    collapse_rank = 'family'
    pluspf = null //pluspf/2023-10-09
    pluspf_recent = null // pluspf/2025-07-14
    viper = null //curated-viral-db/2025-10-01_taxonomy_2023_10_01/curated-viral-db-2023


    //boilerplate
    publish_dir_mode = 'copy'
    trace_report_suffix = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')
}

timeline {
    enabled = false
    file = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = false
    file = "${params.outdir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = false
    file = "${params.outdir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt"
}
dag {
    enabled = false
    file = "${params.outdir}/pipeline_info/pipeline_dag_${params.trace_report_suffix}.html"
}

executor {
    queueSize = 2
}

process {
    maxRetries = 3
}

profiles {
    test {
        includeConfig 'conf/test.conf'
    }
    docker {
        docker.enabled = true
        conda.enabled = true
        singularity.enabled = false
        podman.enabled = false
        shifter.enabled = false
        charliecloud.enabled = false
        apptainer.enabled = false
        docker.runOptions = '-u $(id -u):$(id -g)'
    }
    debug {
        dumpHashes = true
        cleanup = false
    }
}

env {
    ONYX_TOKEN = System.getenv('ONYX_TOKEN')
    ONYX_DOMAIN = System.getenv('ONYX_DOMAIN')
    AWS_ACCESS_KEY_ID = System.getenv('AWS_ACCESS_KEY_ID')
    AWS_ENDPOINT_URL = System.getenv('AWS_ENDPOINT_URL')
    AWS_SECRET_ACCESS_KEY = System.getenv('AWS_SECRET_ACCESS_KEY')
}
